.tile
    width 100px
    height 100px
    font-size 32px
    background-color #ccc
    border 1px solid black
    text-align center

.tile.zero
    background-color #fff

.tile:hover
    background-color #aaa